In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('train_sample.csv')

In [4]:
test = pd.read_csv('test.csv')

In [5]:
df.head()

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0
3,94584,13,1,13,477,2017-11-07 04:58:08,NaN,0
4,68413,12,1,1,178,2017-11-09 09:00:09,NaN,0

In [6]:
y = df['is_attributed'].values

In [15]:
X = df.drop(['is_attributed','click_time','attributed_time'], axis=1)

In [16]:
X.head()

       ip  app  device  os  channel
0   87540   12       1  13      497
1  105560   25       1  17      259
2  101424   12       1  19      212
3   94584   13       1  13      477
4   68413   12       1   1      178

In [14]:
X.head()

       ip  app  device  os  channel attributed_time
0   87540   12       1  13      497             NaN
1  105560   25       1  17      259             NaN
2  101424   12       1  19      212             NaN
3   94584   13       1  13      477             NaN
4   68413   12       1   1      178             NaN

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
knn = KNeighborsClassifier(n_neighbors=6)

In [ ]:
test.head()

In [17]:
knn.fit(X,y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=6, p=2,
           weights='uniform')