In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('train_sample.csv')

In [3]:
train.head(3)

,ip,app,device,os,channel,click_time,attributed_time,is_attributed
0,87540,12,1,13,497,2017-11-07 09:30:38,NaN,0
1,105560,25,1,17,259,2017-11-07 13:40:27,NaN,0
2,101424,12,1,19,212,2017-11-07 18:05:24,NaN,0

In [4]:
y_train = train['is_attributed']
y_train.head(3)

0    0
1    0
2    0
Name: is_attributed, dtype: int64

In [5]:
X_train = train.drop(['attributed_time','click_time','is_attributed'],axis=1)
X_train.head(3)

       ip  app  device  os  channel
0   87540   12       1  13      497
1  105560   25       1  17      259
2  101424   12       1  19      212

In [6]:
X_train = X_train.values
y_train = y_train.values

In [7]:
print(X_train.shape)
print(y_train.shape)

(100000, 5)
(100000,)

# ML with **sklearn**

In [8]:
#from sklearn.linear_model import LogisticRegression
#from sklearn.svm import SVC, LindearSVC
#from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
#from sklearn.naive_bayes import GaussianNB
#from sklearn.linear_model import Perception
#from sklearn.linear_model import SGDClassifier
#from sklearn.tree import DecisionTreeClassifier

### K Nearest Neighbors

In [9]:
knn = KNeighborsClassifier()

In [10]:
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')